@model IEnumerable<DomainLayer.Model.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userEmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userAddress)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id=item.userId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.userId })
            </td>
        </tr>
}
    </tbody>
</table>
